head
	title Test
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet" type="text/css" href="css/libs.min.css")
	link(rel="stylesheet" type="text/css" href="css/style.css")
	script(type="text/javascript" src="js/libs.min.js")
	script(type="text/javascript" src="js/main.js")